{% extends 'base.html' %}
{% block content %}
{# Example content #}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <!-- form start -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="table" class="table table-bordered table-striped" class="display"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>NOME</th>
                                        <th>CPF</th>
                                        <th>Criado em</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for cliente in clientes %}
                                        <tr>
                                            <td>{{ cliente.id }}</td>
                                            <td><a href="{% url 'edit' cliente.pk %}">{{ cliente.nome }}</a></td>
                                            <td>{{ cliente.cpf }}</td>
                                            <td>{{ cliente.created_at|date:"d/m/Y" }}</td>
                                            <td>
                                                <a class="remover" href="{% url 'delete' cliente.id %}">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#inicio').addClass('active');
        });
    </script>
    <!-- /.row -->

{% endblock %}